*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background: lightblue;
}


.player-container,
.time-select {
    width: 100%;
    background: lightblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.player-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.player-container svg{
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}

.time-select button{
    color: white;
    width: 30%;
    height: 10%;
    background: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.5s ease;
}

.time-select button:hover {
    background: white;
    color: black;
}

.time-display {
    color: white;
    position: absolute;
    font-size: 67px;
    bottom: 42.5%;
}

.play {
    opacity: 0.5;
}

.play:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s ease;
}